---
title: Transgender and Self-identification
layout: index
---

<!-- page heading -->
<div class="heading">
    <h1><span style='font-size: 75px ;'>&#127752;</span>Transgender and Self-identification<span class="mirror" style='font-size: 75px;'>&#127752;</span></h1>
    <h2><i> "Imagine if you had been born in the opposite body." - Lily Carollo</i></h2>
</div>
<hr>

<!-- 3 questions -->
<div class="subheading2">
   {% for question in site.data.questions %}
   <h2> {{ question.title }} </h2>
   <blockquote><p>{{ question.content }}</p></blockquote>
   <br>
   <br>
   <br>
   {% endfor %}
</div>
<hr>

<!-- quotation catch phrase -->
 <div class="subheading2">
    <h3><i> “Unlike fingerprints, a child’s gender web is not indelible. It can change and flow throughout that child’s life.” - Barz and Owen</i></h3>
 </div>
 <hr>

 <!-- 9 quotation cards -->
<div id = "quote-container">
   {% for quote in site.data.director %}
  <div class="quote-cell">
     <p>{{ quote.quote }}</p>
  </div>
  {% endfor %}
</div>
  <div id="footer">
      <blockquote>
      <p> All the quotations are retrieved from <a class="citation" href="https://pflag.org/ourtranslovedones"><u>Our Trans Loved Ones</u></a></p>
      </blockquote>   
   </div>
<hr>

<!-- quotation catch phrase -->
<div class="subheading2">
   <h3><i> "You do deserve better, and if better isn’t around you, you find that better. But you have to find it in yourself first." - Tiamat Eva Medusa, 2018</i></h3>
</div>
<hr>

<!-- Dragon Lady video -->
<div class="subheading2">
   {% for video in site.data.self-dragon %}
   <h2> {{ video.title}} </h2>
   {{ video.video-url }}
   <p>{{ video.content }}</p>
   {% endfor %}
</div>
