/* box-sizing makes sure that the border and padding are included in the total width of the element */
* {
    box-sizing: border-box;
  }

body {
    background-color: #F8EEE7;
    font-family: sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-family: sans-serif;
    text-align: justify;
    line-height: 25px;
}

.news p {
    text-align: center;
}

/* Header/Blog Title */
.heading {
    padding: 120px;
    text-align: center;
}

.heading h1 {
    color: #49274a;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    font-family: sans-serif;
}

nav {
    font-family: sans-serif;
    font-size: larger;
}

/* unvisited link */
a:link {
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #94618e;
    background-color: rgba(111, 131, 90); /*pantone 3508up 墨绿色*/
}

a.ex1:hover {
    background-color: inherit;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.subheading1 {
    margin: auto;
    width: 50%;
    padding: 40px;
    margin-bottom: -20px;
}

.subheading {
    float: left;
    width: 50%;
    padding: 40px;
    margin-bottom: -20px;
  }


.news_container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
  }
  
  .news >div {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

/* films grid */
.films {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }

#exhibit {
    width: 300px;
}

@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}