/* box-sizing makes sure that the border and padding are included in the total width of the element */
* {
    box-sizing: border-box;
  }

body {
    background-color: #F8EEE7;
    font-family: sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

/* navigation */
/* navigation */
/* navigation */

nav {
    font-family: sans-serif;
    font-size: larger;
}

/* 所有标题 */
/* 所有标题 */
/* 所有标题 */

/* main heading */
h1 {
    color: #49274a;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 5%;
    width: 120%;
    margin-left: -10%;
    line-height: 200%;
}

/* subheading in each div */
h2 {
    text-align: center;
    margin-bottom: 5%;
    line-height: 200%;
}

/* quotation catch phrase  */
h3 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    line-height: 170%;
}

/* 所有正文 */
/* 所有正文 */
/* 所有正文 */

p {
    font-family: sans-serif;
    text-align: justify;
    line-height: 200%;
    font-size: large;
}

.news-cell p {
    text-align: center;
}

#footer p {
    font-size: small;
    align-self: center;
    text-align: center;
}


/* 所有容器 */
/* 所有容器 */
/* 所有容器 */

/* Header/Blog Title */
.heading {
    padding: 15%;
    text-align: center;
    margin-bottom: -13%;
}

/* home: definition and aim, latest news, recommended films */
.subheading {
    float: left;
    width: 50%;
    padding: 5%;
}

/* self: 3 questions, quotation catch phrase */
.subheading2 {
    margin: auto;
    width: 60%;
    padding: 40px;
    margin-bottom: 1%;
    margin-top: 5%;
}

.subheading3 {
    margin: auto;
    width: 90%;
    padding: 40px;
    margin-bottom: 0%;
    font-size: 20px;
}

.paracontainer {
    clear: both;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.subheading ul{
    text-align: justify;
    line-height: 30px;
}

#news-container {
    width: 92%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
    grid-column-gap: 10px;
    padding: 10px;
    margin-left: 3%;
    margin-bottom: 5%;
}

.news-cell {
    background-color: #94617e;
}

#quote-container {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8%;
    padding: 20px;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.news-picture {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.society-picture {
    width: 320px;
    height: 200px;
}

.defaultcontainer {
    width: 70%;
    padding: 40px;
    margin-top: -8%;
    margin-left: 22%;
    margin-bottom: 30%;
}

#footer {
    margin: auto;
    text-align: center;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 40px;
    width: 80%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    font-size: medium;
    margin-left: 11%;
    margin-top: -5%;
}

.mirror{
    display: inline-block; 
    font-size: 30px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* 所有链接 */
/* 所有链接 */
/* 所有链接 */

/* unvisited link */
a:link {
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #F4DECB;
    background-color: #94618e; 
}

/* news-title link */
/* unvisited link */
a.citation:link {
    color: black;
    text-decoration: none;
    display: contents;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

/* mouse over link */
a.citation:hover {
    color: #49274a;
}

/* unvisited link */
a.news-image:link {
    float: center;
    display: block;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

a.news-image:hover {
    background-color: inherit;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

#search-container p {
    text-align: center;
}

/* 其他设置 */
/* 其他设置 */
/* 其他设置 */

iframe {
    width: 170%;
    height: 70%;
    margin-left: -35%;
}

iframe.kard {
    width: 120%;
    height:  60%;
    margin-left: 0%;
}

/* 设备视图 */
/* 设备视图 */
/* 设备视图 */

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }

@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}