---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<body>
    <div id="wrapper">
        <div class = "tophead">
            <div id="topnav">
                <nav>
                    <a href="{{ site.baseurl }}/home">Home</a>
                    <a href="{{ site.baseurl }}/self">Self</a>
                    <a href="{{ site.baseurl }}/family">Family</a>
                    <a href="{{ site.baseurl }}/society">Society</a>
                </nav>
            </div>
        </div>
           {{ content }}
    </div>
</body>


